# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Java
- R
- Python
- SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
------
| Spark |
| Hadoop |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

#This calculated Code Cell will not produce an output in my lab session same code will run in a JupyterLite session

(3*4)+5

In [ ]:
#This will convert 200 minutes to hours by diving by 60

#This calculated Code Cell will not produce an output in my lab session same code will run in a JupyterLite session

200/60

## Author
Kyle